<h2>Exercises</h2>  

<a class="button-new" href="/exercise/new">Add Exercise</a>

<table>
  <tr>
    <th>Name</th>
    <th>Times Completed</th>
    <th>Active</th>
    <% sort_exercies(@list).each do |exercise| %>
    <tr>
      <td>
        <a href="/exercise/<%= exercise[:id] %>"><%= exercise[:name] %></a>
      </td>
      <td class="center-display"><%= exercise[:completed_count] %></td>
      <td class="right-display">
        <form action="/exercise/<%= exercise[:id] %>/status" method="post">
          <input type="hidden" name="current_status" value="<%= exercise[:active] %>" />
          <input type="hidden" name="page_status" value="<%= params[:status] %>" />
          <button type="submit" class="<%= button_status_class(exercise[:active]) %>"</button>
        </form>
      </td>

    </tr>
    <% end %>
</table>

<% if params[:status] == "active" %>
  <form action="/exercises/view" method="post">
    <p>
      <button class="button-status" name="status" value="inactive">Show Inactive Exercises</button>
      <button class="button-status" name="status" value="all">Show All Exercises</button>
    </p>
  </form>
<% elsif params[:status] == "inactive" %>
  <form action="/exercises/view" method="post">
    <p>
      <button class="button-status" name="status" value="active">Show Active Exercises</button>
      <button class="button-status" name="status" value="all">Show All Exercises</button>
    </p>
  </form>
<% elsif params[:status] == "all" %>
  <form action="/exercises/view" method="post">
    <p>
      <button class="button-status" name="status" value="inactive">Show Inactive Exercises</button>
      <button class="button-status" name="status" value="active">Show Active Exercises</button>
    </p>
  </form>
<% end %>

