<div class="wrapper">
  <h1>Exercises</h1>  

  <a class="btn add-exercise" href="/exercise/new">Add Exercise</a>

  <div class="exercise-headers">
    <ul>
      <li>Times Completed</li>
      <li>Active</li>
    </ul>
  </div>

  <div class="exercise-list">
    <ul>
      <% @list.each do |exercise| %>
      <li>
        <a href="/exercise/update/<%= exercise[:id] %>"><%= exercise[:name] %></a>
        <p><%= exercise[:completed_count] %></p>
        <form action="/exercise/<%= exercise[:id] %>/status" method="post">
          <input type="hidden" name="current_status" value="<%= exercise[:active] %>" />
          <input type="hidden" name="page_status" value="<%= params[:status] %>" />
          <button type="submit" class="<%= button_status_class(exercise[:active]) %>"></button>
        </form>
      </li>
      <% end %>
    </ul>
</div>



  <% if params[:status] == "active" %>
    <a class="btn status" href="/exercises/view/inactive">Show Inactive</a>
    <a class="btn status" href="/exercises/view/all">Show All</a>
  <% elsif params[:status] == "inactive" %>
    <a class="btn status" href="/exercises/view/active">Show Active</a>
    <a class="btn status" href="/exercises/view/all">Show All</a>
  <% elsif params[:status] == "all" %>
    <a class="btn status" href="/exercises/view/active">Show Active</a>
    <a class="btn status" href="/exercises/view/inactive">Show Inactive</a>
  <% end %>
</div>



