<div class="wrapper exercise-data">
  <form action="/exercise/update/<%= @exercise[:id] %>" method="post">
    <fieldset>
      <legend>Edit data for '<%= @exercise[:name] %>' </legend>
      <dl>
        <dt>
          <label for="exercise_name">Exercise Name<span class="required">*</span></label>
      </dt>
      <dd>
         <input type="text" name="name" id="exercise_name" value="<%= @exercise[:name] %>" required />
      </dd>

      <dt>
        <label for="exercise_description">Description</label>
      </dt>
      <dd>
        <textarea name="description" id="exercise_description"><%= @exercise[:description] %></textarea>
      </dd>
    </dl>

      <input type="submit" value="save"  class="save" />
    </fieldset>
  </form>

   <form action="/exercise/delete/<%= @exercise[:id] %>" method="post" >
    <input type="hidden" name="name" value="<%= @exercise[:name] %>" />
    <button type="submit" class="btn delete">Delete</button>
  </form>

  <a class="btn cancel" href="/exercises/view/active">Cancel</a>
</div>
