<ul class="exercise-display">
  <h4>Exercise Name</h4>
  <li><%= @exercise[:name] %></li>

  <h4>Description</h4>
  <li class="description"><%= @exercise[:description] %></li>
</ul>

<a class="button-status-edit" href="/exercise/update/<%= @exercise[:id] %>">EDIT</a>

<h4>Stats for <%= @exercise[:name] %></h4>
<ul>
  <li>Completed <%= completed_count(@exercise[:id]) %> times</li>
</ul>


