<div class="wrapper exercise-data">
  <dl>
    <dt>Exercise Name</dt>
    <dd><%= @exercise[:name] %></dd>

    <dt>Description</dt>
    <dd class="description"><%= @exercise[:description] %></dd>
  </dl>

  <a class="btn edit" href="/exercise/update/<%= @exercise[:id] %>">EDIT</a>

    <form action="/exercise/delete/<%= @exercise[:id] %>" method="post" >
    <input type="hidden" name="name" value="<%= @exercise[:name] %>" />
    <button type="submit" class="btn delete">Delete</button>
  </form>

  <h4>Stats for <%= @exercise[:name] %></h4>
  <ul>
    <li>Completed <%= completed_count(@exercise[:id]) %> times</li>
  </ul>
</div>

